@font-face {
  font-family: 'MemberDevIcon';
  src:  url('../_base_fonts/md-icon.eot?whb2z7');
  src:  url('../_base_fonts/md-icon.eot?whb2z7#iefix') format('embedded-opentype'),
    url('../_base_fonts/md-icon.ttf?whb2z7') format('truetype'),
    url('../_base_fonts/md-icon.woff?whb2z7') format('woff'),
    url('../_base_fonts/md-icon.svg?whb2z7#MemberDev') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mdi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MemberDevIcon' !important;
  speak: none;
  font-style: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-code-3:before {
  content: "\e900";
}
.mdi-firewall-done:before {
  content: "\e901";
}
.mdi-firewall:before {
  content: "\e902";
}
.mdi-hierarchy-structure-2:before {
  content: "\e903";
}
.mdi-hierarchy-structure-5:before {
  content: "\e904";
}
.mdi-window-code:before {
  content: "\e905";
}
.mdi-window-content:before {
  content: "\e906";
}
.mdi-window:before {
  content: "\e907";
}
.mdi-windows-open:before {
  content: "\e908";
}
.mdi-diploma-1:before {
  content: "\e909";
}
.mdi-diploma-2:before {
  content: "\e90a";
}
.mdi-diploma-3:before {
  content: "\e90b";
}
.mdi-heart:before {
  content: "\e90c";
}
.mdi-like:before {
  content: "\e90d";
}
.mdi-medal-1:before {
  content: "\e90e";
}
.mdi-medal-6:before {
  content: "\e90f";
}
.mdi-star:before {
  content: "\e910";
}
.mdi-trophy-1:before {
  content: "\e911";
}
.mdi-unlike:before {
  content: "\e912";
}
.mdi-user-male-circle:before {
  content: "\e913";
}
.mdi-user-male:before {
  content: "\e914";
}
.mdi-users-male:before {
  content: "\e915";
}
.mdi-cloud-download:before {
  content: "\e916";
}
.mdi-cloud-locked:before {
  content: "\e917";
}
.mdi-cloud-upload:before {
  content: "\e918";
}
.mdi-cloud:before {
  content: "\e919";
}
.mdi-database:before {
  content: "\e91a";
}
.mdi-internet:before {
  content: "\e91b";
}
.mdi-network-smartphone:before {
  content: "\e91c";
}
.mdi-server:before {
  content: "\e91d";
}
.mdi-signal-2:before {
  content: "\e91e";
}
.mdi-signal-4:before {
  content: "\e91f";
}
.mdi-wifi:before {
  content: "\e920";
}
.mdi-calculator:before {
  content: "\e921";
}
.mdi-credit-card:before {
  content: "\e922";
}
.mdi-donut-chart-1:before {
  content: "\e923";
}
.mdi-donut-chart-2:before {
  content: "\e924";
}
.mdi-graph-2:before {
  content: "\e925";
}
.mdi-graph-up:before {
  content: "\e926";
}
.mdi-money-bag:before {
  content: "\e927";
}
.mdi-networking:before {
  content: "\e928";
}
.mdi-pie-chart-1:before {
  content: "\e929";
}
.mdi-pie-chart-3:before {
  content: "\e92a";
}
.mdi-pie-chart-board:before {
  content: "\e92b";
}
.mdi-support:before {
  content: "\e92c";
}
.mdi-write-check:before {
  content: "\e92d";
}
.mdi-brain:before {
  content: "\e92e";
}
.mdi-cardio:before {
  content: "\e92f";
}
.mdi-fitness-app:before {
  content: "\e930";
}
.mdi-paramedic:before {
  content: "\e931";
}
.mdi-pill:before {
  content: "\e932";
}
.mdi-pulse:before {
  content: "\e933";
}
.mdi-file-new:before {
  content: "\e934";
}
.mdi-file:before {
  content: "\e935";
}
.mdi-files-2:before {
  content: "\e936";
}
.mdi-files:before {
  content: "\e937";
}
.mdi-folder-copy:before {
  content: "\e938";
}
.mdi-folder-open:before {
  content: "\e939";
}
.mdi-folder:before {
  content: "\e93a";
}
.mdi-boat-2:before {
  content: "\e93b";
}
.mdi-car-battery:before {
  content: "\e93c";
}
.mdi-construction--cone:before {
  content: "\e93d";
}
.mdi-train-2:before {
  content: "\e93e";
}
.mdi-van:before {
  content: "\e93f";
}
.mdi-camera:before {
  content: "\e940";
}
.mdi-microphone:before {
  content: "\e941";
}
.mdi-photo-album:before {
  content: "\e942";
}
.mdi-photo:before {
  content: "\e943";
}
.mdi-play-circle:before {
  content: "\e944";
}
.mdi-play:before {
  content: "\e945";
}
.mdi-slideshow-1:before {
  content: "\e946";
}
.mdi-video-camera:before {
  content: "\e947";
}
.mdi-volume-2:before {
  content: "\e948";
}
.mdi-vumeter:before {
  content: "\e949";
}
.mdi-abacus:before {
  content: "\e94a";
}
.mdi-blackboard-3:before {
  content: "\e94b";
}
.mdi-bulb-idea:before {
  content: "\e94c";
}
.mdi-chemistry-1:before {
  content: "\e94d";
}
.mdi-chemistry-5:before {
  content: "\e94e";
}
.mdi-molecule:before {
  content: "\e94f";
}
.mdi-university:before {
  content: "\e950";
}
.mdi-calendar:before {
  content: "\e951";
}
.mdi-clock:before {
  content: "\e952";
}
.mdi-location-2:before {
  content: "\e953";
}
.mdi-location-3:before {
  content: "\e954";
}
.mdi-map-location-3:before {
  content: "\e955";
}
.mdi-map:before {
  content: "\e956";
}
.mdi-navigation-1:before {
  content: "\e957";
}
.mdi-timer-2:before {
  content: "\e958";
}
.mdi-airplane-mode:before {
  content: "\e959";
}
.mdi-ban:before {
  content: "\e95a";
}
.mdi-cancel-circle:before {
  content: "\e95b";
}
.mdi-check-circle-2:before {
  content: "\e95c";
}
.mdi-check-circle:before {
  content: "\e95d";
}
.mdi-check-square-2:before {
  content: "\e95e";
}
.mdi-check-square:before {
  content: "\e95f";
}
.mdi-check:before {
  content: "\e960";
}
.mdi-close:before {
  content: "\e961";
}
.mdi-config-1:before {
  content: "\e962";
}
.mdi-double-tap:before {
  content: "\e963";
}
.mdi-download-2:before {
  content: "\e964";
}
.mdi-edit-1:before {
  content: "\e965";
}
.mdi-expand-2:before {
  content: "\e966";
}
.mdi-flash-2:before {
  content: "\e967";
}
.mdi-forward:before {
  content: "\e968";
}
.mdi-grid-circle:before {
  content: "\e969";
}
.mdi-grid-squares:before {
  content: "\e96a";
}
.mdi-hamburger-menu-1:before {
  content: "\e96b";
}
.mdi-help-1:before {
  content: "\e96c";
}
.mdi-home:before {
  content: "\e96d";
}
.mdi-key-2:before {
  content: "\e96e";
}
.mdi-label:before {
  content: "\e96f";
}
.mdi-layout-1:before {
  content: "\e970";
}
.mdi-layout-3:before {
  content: "\e971";
}
.mdi-list-1:before {
  content: "\e972";
}
.mdi-lock:before {
  content: "\e973";
}
.mdi-magnifier-1:before {
  content: "\e974";
}
.mdi-more-circles-horizontal:before {
  content: "\e975";
}
.mdi-more-circles-vertical:before {
  content: "\e976";
}
.mdi-notification:before {
  content: "\e977";
}
.mdi-paper-clip:before {
  content: "\e978";
}
.mdi-paper-plane:before {
  content: "\e979";
}
.mdi-pin-2:before {
  content: "\e97a";
}
.mdi-plus-circle:before {
  content: "\e97b";
}
.mdi-plus-square:before {
  content: "\e97c";
}
.mdi-plus:before {
  content: "\e97d";
}
.mdi-question:before {
  content: "\e97e";
}
.mdi-refresh:before {
  content: "\e97f";
}
.mdi-settings-1:before {
  content: "\e980";
}
.mdi-share-4:before {
  content: "\e981";
}
.mdi-swap-horizontal:before {
  content: "\e982";
}
.mdi-switch-off:before {
  content: "\e983";
}
.mdi-switch-on:before {
  content: "\e984";
}
.mdi-unlocked:before {
  content: "\e985";
}
.mdi-upload-2:before {
  content: "\e986";
}
.mdi-warning-triangle:before {
  content: "\e987";
}
.mdi-zoom-in-1:before {
  content: "\e988";
}
.mdi-zoom-out-1:before {
  content: "\e989";
}
.mdi-agenda-2:before {
  content: "\e98a";
}
.mdi-bookmark1:before {
  content: "\e98b";
}
.mdi-clipboard-check:before {
  content: "\e98c";
}
.mdi-clipboard-file:before {
  content: "\e98d";
}
.mdi-content-1:before {
  content: "\e98e";
}
.mdi-CV-2:before {
  content: "\e98f";
}
.mdi-list-bullets:before {
  content: "\e990";
}
.mdi-list-numbers:before {
  content: "\e991";
}
.mdi-newspaper:before {
  content: "\e992";
}
.mdi-pencil-1:before {
  content: "\e993";
}
.mdi-write-3:before {
  content: "\e994";
}
.mdi-barcode:before {
  content: "\e995";
}
.mdi-delivery-2:before {
  content: "\e996";
}
.mdi-delivery-box-2:before {
  content: "\e997";
}
.mdi-discount-star:before {
  content: "\e998";
}
.mdi-open-sign:before {
  content: "\e999";
}
.mdi-price-tag:before {
  content: "\e99a";
}
.mdi-qr-code:before {
  content: "\e99b";
}
.mdi-shop-2-location:before {
  content: "\e99c";
}
.mdi-shopping-tag:before {
  content: "\e99d";
}
.mdi-shopping-tags:before {
  content: "\e99e";
}
.mdi-ticket:before {
  content: "\e99f";
}
.mdi-battery-3:before {
  content: "\e9a0";
}
.mdi-imac:before {
  content: "\e9a1";
}
.mdi-iwatch:before {
  content: "\e9a2";
}
.mdi-keyboard-1:before {
  content: "\e9a3";
}
.mdi-laptop-2:before {
  content: "\e9a4";
}
.mdi-monitor:before {
  content: "\e9a5";
}
.mdi-mouse-1:before {
  content: "\e9a6";
}
.mdi-printer:before {
  content: "\e9a7";
}
.mdi-smartphone-laptop:before {
  content: "\e9a8";
}
.mdi-smartphone-tablet-1:before {
  content: "\e9a9";
}
.mdi-smartphone:before {
  content: "\e9aa";
}
.mdi-smartphones:before {
  content: "\e9ab";
}
.mdi-tablet:before {
  content: "\e9ac";
}
.mdi-tablets:before {
  content: "\e9ad";
}
.mdi-cmyk:before {
  content: "\e9ae";
}
.mdi-layers-2:before {
  content: "\e9af";
}
.mdi-pathfinder-minus-front:before {
  content: "\e9b0";
}
.mdi-pencil-ruler:before {
  content: "\e9b1";
}
.mdi-arrow-1-circle-left:before {
  content: "\e9b2";
}
.mdi-arrow-1-circle-right:before {
  content: "\e9b3";
}
.mdi-arrow-1-down:before {
  content: "\e9b4";
}
.mdi-arrow-1-left:before {
  content: "\e9b5";
}
.mdi-arrow-1-right:before {
  content: "\e9b6";
}
.mdi-arrow-1-square-down:before {
  content: "\e9b7";
}
.mdi-arrow-1-square-left:before {
  content: "\e9b8";
}
.mdi-arrow-1-square-right:before {
  content: "\e9b9";
}
.mdi-arrow-1-square-up:before {
  content: "\e9ba";
}
.mdi-arrow-1-up:before {
  content: "\e9bb";
}
.mdi-arrow-2-down:before {
  content: "\e9bc";
}
.mdi-arrow-2-left:before {
  content: "\e9bd";
}
.mdi-arrow-2-right:before {
  content: "\e9be";
}
.mdi-arrow-2-up:before {
  content: "\e9bf";
}
.mdi-back-7:before {
  content: "\e9c0";
}
.mdi-next-7:before {
  content: "\e9c1";
}
.mdi-answer:before {
  content: "\e9c2";
}
.mdi-call:before {
  content: "\e9c3";
}
.mdi-comment-2:before {
  content: "\e9c4";
}
.mdi-comments-2:before {
  content: "\e9c5";
}
.mdi-email-letter:before {
  content: "\e9c6";
}
.mdi-email-open:before {
  content: "\e9c7";
}
.mdi-email-send:before {
  content: "\e9c8";
}
.mdi-email:before {
  content: "\e9c9";
}
.mdi-inbox-empty:before {
  content: "\e9ca";
}
.mdi-letters:before {
  content: "\e9cb";
}
.mdi-megaphone-2:before {
  content: "\e9cc";
}
.mdi-message-2-write:before {
  content: "\e9cd";
}
.mdi-message-2:before {
  content: "\e9ce";
}
.mdi-phone-ring:before {
  content: "\e9cf";
}
.mdi-Shape-880:before {
  content: "\e9d0";
}
.mdi-voicemail:before {
  content: "\e9d1";
}
